<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/css/admin.css" />
</head>
<body>
<div class="admin">
    <div class="content">
        <h1>Reservations</h1>
        <a asp-action="Reservations" style="text-decoration:none"><h4>Edit Reservations</h4></a>
    </div>

    <div class="content">
        <h1>Users</h1>
       <a asp-action="ListUsers" style="text-decoration:none"><h4>All Users</h4></a>
        <h4>Edit Users</h4>
    </div>

    <div class="content">
        <h1>Teams</h1>
        <a asp-controller="Admin_Team" asp-action="Index" style="text-decoration:none"> <h4>All Teams</h4> </a>
            <h4>Create Team</h4>
            <h4>Edit Teams</h4>
    </div>

    <div class="content">
        <h1>Covid</h1>
        <a asp-action="covidmeasure" style="text-decoration:none"> <h4>Covid Measures</h4> </a>
    </div>
</div>

</body>
</html>