@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h3>Here come buttons that go to (reservations/edit user/ make group/ covid measures)</h3>

<a asp-action="Reservations"><button style="padding: 10px; border: 3px outset black; border-radius: 50%; height: 100px; width: 200px;"  type="button">reserveren</button></a>
<div style="padding: 10px; border: 3px outset black; border-radius: 50%; height: 100px; width: 200px;">
    <h5>make group</h5>
</div>
<div style="padding: 10px; border: 3px outset black; border-radius: 50%; height: 100px; width: 200px;">
    <h5>edit user</h5>
</div>
<div style="padding: 10px; border: 3px outset black; border-radius: 50%; height: 100px; width: 200px;">
    <h5>Covid measures</h5>
</div>