@model NGTI.Models.SoloReservation

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SoloReservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <!--<label asp-for="Name" class="control-label"></label>-->
                <input asp-for="Name" class="form-control" value="@User.Identity.Name" hidden />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeSlot" class="control-label"></label>
                <input asp-for="TimeSlot" class="form-control" />
                <span asp-validation-for="TimeSlot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select name="cars" id="cars">
                    <option value="volvo"> 9:00 - 12:00</option>
                    <option value="saab">12:30 - 15:30</option>
                    <option value="mercedes">16:00 - 19:00</option>
                    <option value="audi">Audi</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Reason" class="control-label"></label>
                <input asp-for="Reason" class="form-control" />
                <span asp-validation-for="Reason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TableId" class="control-label"></label>
                <select asp-for="TableId" class="form-control" asp-items="ViewBag.TableId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}