@model NGTI.Models.GroupReservation

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>GroupReservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" class="form-horizontal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdGroupReservation" />
            <div class="form-group">
                <!-- <label asp-for="Name" class="control-label"></label>-->
                <input asp-for="Name" class="form-control" hidden />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teamname" class="control-label"></label>
                <input asp-for="Teamname" class="form-control" />
                <span asp-validation-for="Teamname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeSlot" class="control-label"></label>
                <input asp-for="TimeSlot" class="form-control" />
                <span asp-validation-for="TimeSlot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reason" class="control-label"></label>
                <input asp-for="Reason" class="form-control" />
                <span asp-validation-for="Reason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seat" class="control-label"></label>
                <select asp-for="Seat" class="form-control" asp-items="ViewBag.Seat"></select>
                <span asp-validation-for="Seat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
