body {
    background-color: black;
    color: white;
    font: Arial;
}

h4 {
    background-color: #5F5F62;
    color: white;
    border: 10px;
    border-color: #9F8974;
}

.content-table {
    margin: 50px;
    width: 30%;
}

    .content-table td {
        margin: 50px;
        width: 30%;
    }

    .content-table th {
        margin: 100px;
        width: 41%;
    }



.content-table2 {
    margin: 50px;
    width: 30%;
    margin-bottom: 100px;
}

    .content-table2 td {
        margin: 50px;
        width: 30%;
    }

    .content-table2 th {
        margin: -20px;
        width: 40%;
    }


.form-control {
    padding: 12px;
    width: 20%;
    border: none;
    background-color: #5F5F62 !important;
    color: white !important;
    margin-left: 50px;
    margin-bottom: 50px;
}

a {
    color: white;
}

    a:hover {
        color: black;
    }

.form-control {
    padding: 12px;
    width: 62%;
    border: none;
    background-color: #5F5F62;
    color: white;
    margin-bottom: 50px;
}

input[type=submit] {
    color: black;
    background-color: #9F8974;
    border-color: #9F8974;
    margin-left: 50px;
}

    input[type=submit]:hover {
        color: black;
        background-color: white;
        border-color: white;
    }

input[type=checkbox]:checked + span {
    color: black;
    background-color: white;
    border-color: white;
}
