.card-header {
    margin-left: 300px;
    text-align: center;
}

.label {
    font-weight: bold;
    color: #151517;
}


.row {
    position: absolute;
    left: 50%;
    margin-left: -100px;
    width: 57%;
}

.submit {
    font-weight: bold;
    color: #151517;
    background: #9F8974;
}

