.card-header{
margin-left: 225px;
text-align: center;
background: #9F8974;
}

.row {
    position: absolute;
    left: 50%;
    margin-left: -100px;
    width: 57%;
    color: white;
}




.form-group {
    margin-left: 50px;
    margin-right: -50px;
    color: #9F8974;
}

.link a {
    color: white;
    -webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -ms-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    transition: color 0.2s linear;
    margin-left: 50px;
}

    .link a:hover {
        color: #9F8974;

    }

.col-md-4 {
    background: #151517;
}


.form-control {
    padding: 12px;
    width: 62%;
    border: none;
    background-color: white !important;
    color: #9F8974 !important;
    margin-bottom: 50px;
}

input[type=submit] {
    color: black;
    background-color: #9F8974;
    border-color: #9F8974;
}

    input[type=submit]:hover {
        color: black;
        background-color: white;
        border-color: white;
    }

input[type=checkbox]:checked + span {
    color: black;
    background-color: white;
    border-color: white;
}