.card-header {
    margin-left: 225px;
    text-align: center;
    color: #9F8974;
    background-color: #151517;
    font-family: Arial;
}

.row {
    position: absolute;
    left: 50%;
    margin-left: -100px;
    width: 57%;
    background: #636363;
    color: #5F5F62;
}




.form-group {
    margin-left: 25px;
    margin-right: -50px;
    color: #151517;
    background-color: #636363;
}

.link a {
    color: white;
    -webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -ms-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    transition: color 0.2s linear;
    margin-left: 50px;
}

    .link a:hover {
        color: #9F8974;

    }

.col-md-4 {
    background: #636363;
}

.form-control {
    margin-top:25px;
    background-color: #1C1C20;
    color: #9F8974;
    border-color: #1C1C20
}

    .form-control:active,
    .form-control:hover {
        background-color: #1C1C20;
        color: #9F8974;
        border-color: #1C1C20;
        outline: none;
    }

.control-label{
    margin-top:100px;
    font-weight:bold;
    font-size:25px;

}
.submit {
    background: #9F8974;
    position: absolute;
    display: inline-table;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #000;
    margin-top: 25px;
    margin-left: -95px;
    border-radius: 100px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial;
    font-weight: 700;
    color: #000000;
    text-align: center;
    transition: all 0.2s;
    
}

    .submit:hover {
        background: #1C1C20;
        color: #9F8974;
    }