.card-header {
    margin-left:225px;
    text-align: center;
    background: #9F8974;
}

.label {
    font-weight: bold;
    color: white;
}


.row {
    position: absolute;
    left: 50%;
    margin-left: -100px;
    width: 57%;
    color: white;
}

.submit {
    margin-left: 40%;
    font-weight: bold;
    color: #151517;
    background: #9F8974;
    border-radius: 15px;
}

    .submit:hover {
        background: white;
        color: #9F8974;
    }

input:focus {
    background-color: #9F8974
}


select.focus {
    background-color: #9F8974
}