.personal {
    width: 25%;
    margin: 0 auto;
}

.everybody {
    width: 25%;
    margin: 0 auto;
}

.top {
    width: 50%;
    margin: 0 auto;
}



.content-table {
    margin: 0 auto;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

    .content-table thead tr {
        text-align: center;
        vertical-align: middle;
        text-align: center;
        vertical-align: middle;
        background-color: #1C1C20;
        color: #9F8974;
        text-align: left;
        font-weight: bold;
    }

    .content-table th,
    .content-table td {
        padding: 12px 15px;
    }

    .content-table tbody tr {
        border-bottom: 1px solid #dddddd;
    }

        .content-table tbody tr:nth-of-type(even) {
            background-color: #faeee1;
        }

        .content-table tbody tr:nth-of-type(odd) {
            background-color: #faeee1;
        }


        .content-table tbody tr.active-row {
            font-weight: bold;
            color: #f5fff5;
        }



.tableid {
    text-align: center;
    vertical-align: middle;
}


@media screen and (max-width: 900px) {
    .personal {
        width: 70%;
    }

    .everybody {
        width: 70%;
    }
}