.card-header {
    margin-left: 225px;
    text-align: center;
    color: #9F8974;
    background-color: #151517;
    font-family: Arial;
    font-size:45px;
}



body {
    background-color: #5F5F62;
    color: white;
    font: Arial;
}

h7 {
    background-color: #5F5F62;
    color: #151517;
    border: 10px;
    border-color: #9F8974;
    margin-left: 30%;
}

.content-table {
    width: 65%;
    margin-left: 50px;
    font: Arial;
    margin-bottom: 50px;
}

    .content-table thead tr {
        text-align: center;
        vertical-align: middle;
        text-align: right;
        vertical-align: middle;
        background-color: #151517;
        color: #ffffff;
        text-align: left;
        font-weight: bold;
        font: Arial;
        border-bottom: 2px;
        border-bottom-color: black;
    }

    .content-table th,
    .content-table td {
        padding: 12px 15px;
        background-color: #151517;
        color: #9F8974;
    }

    .content-table tbody tr {
        border-bottom: 1px solid #151517;
        margin-left: 5px;
        background-color: #151517;
    }

    .content-table tbody tr {
        background-color: #5F5F62;
    }

        .content-table tbody tr:last-of-type {
            border-top: 2px;
            border-top-color: black;
        }

        .content-table tbody tr.active-row {
            font-weight: bold;
            color: black;
        }



.row {
    margin-left: 35px;
    color: #5F5F62;
}

a {
    color: white;
    padding: 50px;
    margin-top: auto;
    -webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -ms-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    transition: color 0.2s linear;
}

    a:hover {
        color: #9F8974;
    }

input[type=submit] {
    margin-left: 50px;
    margin-right: 50px;
    color: black;
    background-color: #9F8974;
    border-color: #9F8974;
}

    input[type=checkbox]:checked + span {
        color: black;
        background-color: white;
        border-color: white;
    }

    input[type=submit]:hover {
        color: black;
        background-color: white;
        border-color: white;
    }

