body {
    background-color: #5F5F62;
    color: white;
    font: Arial;
}

h4 {
    background-color: #1C1C20;
    color: #5F5F62;
    border: 10px;
    border-color: #1C1C20;
}

.content-table {
    margin: 50px;
    width: 30%;
    background-color: #151517;
    color: #9F8974;
}

.content-table td{
    margin: 50px;
    width: 30%;
}

.content-table th {
     margin: 100px;
     width: 41%;
    }



.content-table2 {
    margin: 50px;
    width: 30%;
    margin-bottom: 100px;
    background-color: #151517;
    color: #9F8974;
}

.content-table2 td {
    margin: 50px;
    width: 30%;
}

.content-table2 th {
     margin: -20px;
     width: 40%;
    }


.form-control {
    padding: 12px;
    width: 20%;
    border: none;
    background-color: #5F5F62 !important;
    color: #151517 !important;
    margin-left: 50px;
    margin-bottom: 50px;
}

a {
    color: white;
    -webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -ms-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    transition: color 0.2s linear;
}

    a:hover {
        color: #9F8974;
    }

.button {
    margin-left: 50px;
    color: #9F8974;
}


input[type=submit] {
    color: black;
    background-color: #9F8974;
    border-color: #9F8974;
}

input[type=submit]:hover {
    color: black;
    background-color: white;
    border-color: white;
}

input[type=checkbox]:before {
    background-color: #9F8974;
    border-color: #9F8974;
}


input[type=checkbox]:after {

    color: black;
    background-color: white;
    border-color: white;
}

