body {
    background-color: black;
    color: white;
    font: Arial;
}

h1 {
    background-color: #5F5F62;
    color: white;
    border: 10px;
    border-color: #9F8974;
    font: Arial;
    font-size: 24px;
}

p {
    margin-top: 50px;
    margin-left: 50px;
    font: Arial;
}

.content-table {
    width: 65%;
    margin-left: 50px;
    font: Arial;
}

    .content-table thead tr {
        text-align: center;
        vertical-align: middle;
        text-align: right;
        vertical-align: middle;
        background-color: #5F5F62;
        color: #ffffff;
        text-align: left;
        font-weight: bold;
        font: Arial;
        border-bottom:2px;
        border-bottom-color: black;
    }

a:hover span{
    color: black;
}

a {
    color: white;
    text-decoration: none;
}

a:hover{
    color: black;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr  {
    border-bottom: 1px solid #5F5F62;
    margin-left: 5px;
}

    .content-table tbody tr {
        background-color: #5F5F62;
    }

        .content-table tbody tr:last-of-type {
            border-top: 2px;
            border-top-color: black;
        }

    .content-table tbody tr.active-row {
        font-weight: bold;
        color: black;
    }