﻿body {
    background: #5F5F62;
    margin: 0;
    font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
    color: white;
    padding-left: 240px;
}

main {
    position: relative;
    height: 100%;
}

    main .helper {
        background: #5F5F62;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        padding: 1.2em 2em;
        text-align: center;
        border-radius: 20px;
        font-size: 2em;
        font-weight: bold;
    }

        main .helper span {
            color: white;
            font-size: 0.4em;
            display: block;
        }

.menu {
    color: white;
    background: #1C1C20;
    height: 100vh;
    width: 240px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    outline: none;
}

    .menu .avatar {
        background: #151517;
        text-align: center;
    }

        .menu .avatar img {
            width: 100px;
            border-radius: 50%;
            overflow: hidden;
        }

        .menu .avatar h2 {
            font-weight: normal;
            margin-bottom: 0;
        }

    .menu ul {
        list-style: none;
        padding: 0.5em 0;
        margin: 0;
    }

        .menu ul li {
            color: white;
            padding: 2.5em 1em 2.5em 4em;
            font-size: 0.95em;
            font-weight: regular;
            background-repeat: no-repeat;
            background-position: left 15px center;
            background-size: auto 20px;
            transition: all 0.15s linear;
            cursor: pointer;
        }

            .menu ul li.icon-dashboard {
                background-image: url("../img/homeIcon.png");
            }

            .menu ul li.icon-customers {
                background-image: url("../img/workIcon.png");
            }

            .menu ul li.icon-users {
                background-image: url("../img/agendaIcon.png");
            }

            .menu ul li.icon-settings {
                background-image: url("../img/adminIcon.png");
            }

            .menu ul li.icon-team {
                background-image: url("../img/teamIcon.png")
            }

            .menu ul li:hover {
                background-color: #9F8974
            }

            .menu ul li:focus {
                outline: none;
            }



@media screen and (max-width: 900px) and (min-width: 400px) {
    body {
        padding-left: 90px;
    }

    .menu {
        width: 90px;
    }

        .menu .avatar {
            padding: 0.5em;
            position: relative;
        }

            .menu .avatar img {
                width: 60px;
            }

            .menu .avatar h2 {
                opacity: 0;
                position: absolute;
                top: 50%;
                left: 100px;
                margin: 0;
                min-width: 200px;
                border-radius: 4px;
                background: rgba(0, 0, 0, 0.4);
                transform: translate3d(-20px, -50%, 0);
                transition: all 0.15s ease-in-out;
            }

            .menu .avatar:hover h2 {
                opacity: 1;
                transform: translate3d(0px, -50%, 0);
            }

        .menu ul li {
            height: 60px;
            background-position: center center;
            background-size: 30px auto;
            position: relative;
        }

            .menu ul li span {
                opacity: 0;
                position: absolute;
                background: rgba(0, 0, 0, 0.5);
                padding: 0.2em 0.5em;
                border-radius: 4px;
                top: 50%;
                left: 80px;
                transform: translate3d(-15px, -50%, 0);
                transition: all 0.15s ease-in-out;
            }

                .menu ul li span:before {
                    content: '';
                    width: 0;
                    height: 0;
                    position: absolute;
                    top: 50%;
                    left: -5px;
                    border-top: 5px solid transparent;
                    border-bottom: 5px solid transparent;
                    border-right: 5px solid rgba(0, 0, 0, 0.5);
                    transform: translateY(-50%);
                }

            .menu ul li:hover span {
                opacity: 1;
                transform: translate3d(0px, -50%, 0);
            }
}

@media screen and (max-width: 400px) {
    body {
        padding-left: 0;
    }

    .menu {
        width: 230px;
        box-shadow: 0 0 0 100em rgba(0, 0, 0, 0);
        transform: translate3d(-230px, 0, 0);
        transition: all 0.3s ease-in-out;
    }

        .menu .smartphone-menu-trigger {
            width: 40px;
            height: 40px;
            position: absolute;
            left: 100%;
            background: #5bc995;
        }

            .menu .smartphone-menu-trigger:before,
            .menu .smartphone-menu-trigger:after {
                content: '';
                width: 50%;
                height: 2px;
                background: #fff;
                border-radius: 10px;
                position: absolute;
                top: 45%;
                left: 50%;
                transform: translate3d(-50%, -50%, 0);
            }

            .menu .smartphone-menu-trigger:after {
                top: 55%;
                transform: translate3d(-50%, -50%, 0);
            }

        .menu ul li {
            padding: 2em 1em 2em 3em;
            font-size: 1.2em;
        }

        .menu:focus {
            transform: translate3d(0, 0, 0);
            box-shadow: 0 0 0 100em rgba(0, 0, 0, 0.6);
        }

            .menu:focus .smartphone-menu-trigger {
                pointer-events: none;
            }
}



/*Notification*/
/* Page Styles */

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

button {
    display: block;
    padding: 1em 2em;
    outline: none;
    font-weight: 600;
    border: none;
    color: #fff;
    background-color: #3498db;
    border: 1px solid #1f74ac;
    border-radius: 0.3em;
    margin-top: 4em;
    cursor: pointer;
}

    button:hover {
        background-color: #2487c9;
    }





/* Notifications */
.notification-box {
    position: fixed;
    z-index: 99;
    top: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
}

.notification-bell:hover {
    animation: bell;
    animation-duration: 1s;
}

    .notification-bell * {
        display: block;
        margin: 0 auto;
        background-color: white;
        box-shadow: 0px 0px 1px 3px #000;
    }

.bell-top {
    width: 6px;
    height: 6px;
    border-radius: 3px 3px 0 0;
}

.bell-middle {
    width: 25px;
    height: 25px;
    margin-top: -1px;
    border-radius: 12.5px 12.5px 0 0;
}

.bell-bottom {
    position: relative;
    z-index: 0;
    width: 32px;
    height: 2px;
}

    .bell-bottom::before,
    .bell-bottom::after {
        content: '';
        position: absolute;
        top: -4px;
    }

    .bell-bottom::before {
        left: 1px;
        border-bottom: 4px solid #fff;
        border-right: 0 solid transparent;
        border-left: 4px solid transparent;
    }

    .bell-bottom::after {
        right: 1px;
        border-bottom: 4px solid #fff;
        border-right: 4px solid transparent;
        border-left: 0 solid transparent;
    }

.bell-rad {
    width: 8px;
    height: 4px;
    margin-top: 2px;
    border-radius: 0 0 4px 4px;
}

.notification-count {
    position: absolute;
    z-index: 1;
    top: -6px;
    right: -6px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    border-radius: 50%;
    background-color: #ff4927;
    color: #fff;
}

@keyframes bell {
    0% {
        transform: rotate(0);
    }

    10% {
        transform: rotate(30deg);
    }

    40 {
        transform: rotate(0);
    }

    60% {
        transform: rotate(0);
    }

    90% {
        transform: rotate(-30deg);
    }

    100% {
        transform: rotate(0);
    }
}