
.title {
    font: Arial;
    color: #151517;
    position: absolute;
    display: inline-table;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}



.btn {
    background: #9F8974;
    position: absolute;
    display: inline-table;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #000;
    margin: 0 0.3em 0.3em 0;
    border-radius: 50px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 700;
    color: #000000;
    text-align: center;
    transition: all 0.2s;
}

    .btn:hover {
        background: #1C1C20;
        color: #9F8974;
    }

.solo {
    color: #000;
    position: absolute;
    left: 50%;
    top: 25%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.group {
    color: #000;
    position: absolute;
    left: 50%;
    top: 70%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.title {
    white-space: nowrap;
    overflow: hidden;
}