@import url("font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Raleway:100,200,300,500,600,700,800,900");

/*
	Phase Shift by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/* Basic */

body {
	background: #fff;
}

body, span, input, select, textarea {
	color: #000000;
	font-family: 'Raleway', sans-serif;
	font-size: 12pt;
	font-weight: 300;
	line-height: 1.65em;
}

a:hover {
	background: #9F8974
}

strong, b {
	font-weight: 700;
}

em, i {
	font-style: italic;
}

p, ul, ol, dl, table, blockquote {
	margin: 0 0 2em 0;
}

p {
	line-height: 2em;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	color: inherit;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
		color: inherit;
		text-decoration: none;
	}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.25em;
}

sub {
	font-size: 0.8em;
	position: relative;
	top: 0.5em;
}

sup {
	font-size: 0.8em;
	position: relative;
	top: -0.5em;
}

hr {
	border-top: solid 1px #000000;
	border: 0;
	margin-bottom: 1.5em;
}

blockquote {
	border-left: solid 0.5em #000000;
	font-style: italic;
	padding: 1em 0 1em 2em;
}

section.special, article.special {
	text-align: center;
}

header.major {
	padding-bottom: 3em;
	text-transform: uppercase;
}

	header.major h2 {
		margin: 0;
		padding: 0;
		line-height: 1em;
		font-weight: 800;
		font-size: 2.8em;
	}

	header.major .byline {
		display: block;
		margin: 0.50em 0 0 0;
		padding: 0 0 0.5em 0;
		letter-spacing: 1px;
		font-size: 1.3em;
		font-weight: 300;
	}

footer > :last-child {
	margin-bottom: 0;
}

footer.major {
	padding-top: 3em;
}



/* Icon */

.icon {
	position: relative;
}

	.icon:before {
		content: "";
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-transform: none !important;
	}

	.icon > .label {
		display: none;
	}

/* Lists */

ol.default {
	list-style: decimal;
	padding-left: 1.25em;
}

	ol.default li {
		padding-left: 0.25em;
	}

ul.default {
	margin: 0em 0em 2em 0em;
	padding: 0em 0em 1.5em 0em;
	list-style: none;
}

	ul.default li {
		padding: 0.60em 0em;
		font-size: 0.90em;
		border-top: 1px solid;
		border-color: rgba(0, 0, 0, 0.1);
	}

		ul.default li:first-child {
			border-top: none;
		}

ul.icons {
	cursor: default;
	text-align: center;
}

	ul.icons li {
		display: inline-block;
		padding: 0em 0.20em;
	}

		ul.icons li:first-child {
			padding-left: 0;
		}

		ul.icons li span {
			display: none;
		}

		ul.icons li a {
			display: inline-block;
			color: #000000;
			width: 30px;
			height: 30px;
			text-align: center;
		}

			ul.icons li a:before {
				display: inline-block;
				border: 1px solid #828282;
				width: 2em;
				height: 2em;
				line-height: 2em;
				font-size: 1em;
				color: #000000;
				border-radius: 100%;
				text-align: center;
			}

ul.actions {
	cursor: default;
}

	ul.actions:last-child {
		margin-bottom: 0;
	}

	ul.actions li {
		display: inline-block;
		padding: 0 0 0 1.5em;
	}

		ul.actions li:first-child {
			padding: 0;
		}

	ul.actions.vertical li {
		display: block;
		padding: 1.5em 0 0 0;
	}

		ul.actions.vertical li:first-child {
			padding: 0;
		}

ul.style {
	padding-top: 3em;
}

	ul.style li {
		position: relative;
		padding: 3em 0em 3em 6em;
		border-top: solid 1px rgba(255, 255, 255, 0.2);
	}

	ul.style > :first-child {
		border-top: none;
	}

	ul.style li:before {
		position: absolute;
		left: 0;
		top: 1em;
		display: block;
		background: none;
		color: rgb(0, 0, 0);
		width: 56px;
		height: 56px;
		text-align: center;
		font-size: 3em;
		border-radius: 6px;
	}

	ul.style h3 {
		margin-bottom: 0.80em;
		text-transform: uppercase;
		font-weight: 800;
		font-size: 2em;
		color: rgb(0, 0, 0);
	}

	ul.style span {
		line-height: 180%;
		color: rgb(0, 0, 0);
	}

/* Seats */

table {
	width: 100%;
}

	table.default {
		width: 100%;
	}

		table.default tbody tr {
			border-bottom: solid 1px #888888;
		}

		table.default td {
			padding: 0.5em 1em 0.5em 1em;
		}

		table.default th {
			font-weight: 700;
			padding: 0.5em 1em 0.5em 1em;
			text-align: left;
		}

		table.default thead {
			background: #555555;
			color: #fff;
		}



/* Wrapper */

.wrapper.style1 {
	padding-top: 10em;
	padding-bottom: 2em;
	background: url(../images/bg.jpg) no-repeat center top;
	background-size: cover;
	background-attachment: fixed;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0);
}

.wrapper.style2 {
	padding: 6em 0;
	background: #d84780;
	color: white;
}

.container{
	margin-left:0%;
	margin-top:20%;
}

@media screen and (max-width: 900px) {
	.container {
		width: 20%;
		margin-top: 32%;
		margin-left: -37%;
		width: 35%;
	}
}