@model NGTI.Models.GroupReservation;




@{
    ViewData["Title"] = "Create";
    int year = DateTime.Now.Year;
    DateTime firstDay = new DateTime(year, 1, 1);
    firstDay = correctToMonday(firstDay);
    int weken = 2;  //aantal weken dat je kan kiezen bij reservering
    int weekNr = (DateTime.Today - firstDay).Days / 7 + 1;
    //initialize selectlist for weeknrs and fill
    int[] selectlist = new int[weken];
    string[] selectdate = new string[weken];
    //set weeks in select html
    for (int x = 0; x < selectlist.Length; x++)
    {
        selectlist[x] = weekNr + x;
        DateTime F = firstDay.AddDays((selectlist[x] - 1) * 7);
        DateTime L = firstDay.AddDays(selectlist[x] * 7 - 1);
        selectdate[x] = $"[{F.Day}-{F.Month}-{F.Year}] t/m [{L.Day}-{L.Month}-{L.Year}]";
    }
    //return date of the monday of the given date
    DateTime correctToMonday(DateTime fday)
    {
        DayOfWeek dow = fday.DayOfWeek;
        if (dow == DayOfWeek.Monday)
        {
            return fday;
        }
        else
        {
            return correctToMonday(fday.AddDays(-1));
        }
    }
 }
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/create.css" />
</head>


<body>
    <div class="card-header">
        <h1>New Team Reservation</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <!--<label asp-for="Name" class="control-label"></label>-->
                <input asp-for="Name" class="form-control" value="@User.Identity.Name" hidden />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teamname" class="control-label"></label>
                <select asp-for="Teamname" class="form-control" asp-items="ViewBag.TeamName"></select>
            </div>
            <div>
                <label for="selectedWeek" class="control-label">Week</label>
                <select id="select_id" name="selectedWeek" class="form-control">
                    @for (int x = 0; x < weken; x++)
                    {
                        <option value=@selectlist[x]>@selectlist[x] @selectdate[x].</option>
                    }
                </select>
                <label>choose<input type="radio" name="entireWeek" checked="checked" onclick="clickWeek('false')" value=false /></label>
                <label>whole week<input type="radio" name="entireWeek" onclick="clickWeek('true')" value=true /></label>
            </div>
            <!-- choose days -->
            <div>
                <label class="container1">Ma<input type="checkbox" checked="checked" name="days" value=0><span class="checkmark1"></span></label>
                <label class="container2">Di<input type="checkbox" checked="checked" name="days" value=1><span class="checkmark2"></span></label>
                <label class="container3">Wo<input type="checkbox" checked="checked" name="days" value=2><span class="checkmark3"></span></label>
                <label class="container4">Do<input type="checkbox" checked="checked" name="days" value=3><span class="checkmark4"></span></label>
                <label class="container5">Vr<input type="checkbox" checked="checked" name="days" value=4><span class="checkmark5"></span></label>
            </div>
            <div class="form-group">
                <label asp-for="TimeSlot" for="TimeSlot" class="control-label"></label>
                <select asp-for="TimeSlot" name="TimeSlot" id="TimeSlot" class="form-control" required>
                    <option value="">Choose a TimeSlot</option>
                    <option value="Morning">Morning: 8:00 - 12.00</option>
                    <option value="Afternoon">Afternoon: 12:00 - 16.00</option>
                    <option value="Evening">Evening: 16:00 - 20.00</option>
                </select>
                <span asp-validation-for="TimeSlot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reason" class="control-label"></label>
                <input asp-for="Reason" class="form-control" />
                <span asp-validation-for="Reason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seat" for="Seat" class="control-label"></label>
                <select asp-for="Seat" name="Seat" id="Seat" class="form-control" required>
                    <option value="">Choose a Seat</option>
                    <option value="Private Room">Private Room</option>
                    <option value="Table">Table</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="submit" />
            </div>
        </form>
        <a asp-action="Index" class="submit2">Go to Overview</a>
        </div>
    </div>


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
    <script>
        //choose or automatic week reservation
        function clickWeek(res) {
            var div = document.getElementsByName("days");
            if (res == "true") {
                for (var x = 0; x < div.length; x++) {
                    d = div[x];
                    d.checked = true;
                    d.disabled = true;
                }
            }
            else {
                for (var x = 0; x < div.length; x++) {
                    d = div[x];
                    d.disabled = false;
                    d.checked = false;
                }
            }
        }

    </script>
</body>
</html>