@model NGTI.Models.GroupReservation;




@{
    ViewData["Title"] = "Edit";

    int year = DateTime.Now.Year;
    DateTime firstDay = new DateTime(year, 1, 1);
    firstDay = correctToMonday(firstDay);
    int weken = 2;  //aantal weken dat je kan kiezen bij reservering
    int weekNr = (DateTime.Today - firstDay).Days / 7 + 1;
    //initialize selectlist for weeknrs and fill
    int[] selectlist = new int[weken];
    string[] selectdate = new string[weken];
    //set weeks in select html
    for (int x = 0; x < selectlist.Length; x++)
    {
        selectlist[x] = weekNr + x;
        DateTime F = firstDay.AddDays((selectlist[x] - 1) * 7);
        DateTime L = firstDay.AddDays(selectlist[x] * 7 - 1);
        selectdate[x] = $"[{F.Day}-{F.Month}-{F.Year}] t/m [{L.Day}-{L.Month}-{L.Year}]";
    }
    //return date of the monday of the given date
    DateTime correctToMonday(DateTime fday)
    {
        DayOfWeek dow = fday.DayOfWeek;
        if (dow == DayOfWeek.Monday)
        {
            return fday;
        }
        else
        {
            return correctToMonday(fday.AddDays(-1));
        }
    }
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/create.css" />
</head>


<body>
    <div class="card-header">
        <h1>New Team Reservation</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <!--<label asp-for="Name" class="control-label"></label>-->
                    <input type="hidden" asp-for="IdGroupReservation" name="IdGroupreservation" />
                    <input asp-for="Name" class="form-control" value="@User.Identity.Name" hidden />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <!--<label asp-for="Teamname" class="control-label"></label>-->
                    <input asp-for="Teamname" class="form-control" hidden />
                    <span asp-validation-for="Teamname" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Date" class="control-label"></label>
                    <input asp-for="Date" type="date" asp-format="{0:dd:mm:yyyy}" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TimeSlot" class="control-label"></label>
                    <select asp-for="TimeSlot" class="form-control">
                        <option value="">Choose a TimeSlot</option>
                        <option value="Morning">Morning: 8:00 - 12.00</option>
                        <option value="Afternoon">Afternoon: 12:00 - 16.00</option>
                        <option value="Evening">Evening: 16:00 - 20.00</option>
                        <option value="All Day">All Day</option>
                    </select>
                    <span asp-validation-for="TimeSlot" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Reason" class="control-label"></label>
                    <input asp-for="Reason" class="form-control" />
                    <span asp-validation-for="Reason" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Seat" class="control-label"></label>
                    <select asp-for="Seat" class="form-control">
                        <option value="">Choose a Seat</option>
                        <option value="Private Room">Private Room</option>
                        <option value="Table">Table</option>
                    </select>
                </div>

                <div class="form-group">
                    <input type="submit" value="Edit" class="submit" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>