@model NGTI.Models.Employee
@{
    ViewData["Title"] = "Create Employee";
}
<h2>Create</h2>
<h4>Employees</h4>
<hr />
<form asp-action="Create" class="form-horizontal">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label class="control-label">Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">BHV</label>
        <input asp-for="BHV" class="form-control" />
        <span asp-validation-for="BHV" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Admin</label>
        <input asp-for="Admin" class="form-control" />
        <span asp-validation-for="Admin" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <input type="submit" value="Submit" class="btn bg-primary" />

    </div>
</form>
@{
    if (@TempData["Msg"] != null)
    {
        <script>
                alert('@TempData["msg"]')
        </script>
    }
}
