<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" href="~/css/planner.css" />
</head>
<body>
    <div>
            <div class="solo">
                <h1 class="title">Plan solo</h1>
                <img src="~/img/solo_desk.png" />
                <a class="nav-link text-dark" asp-area="" asp-controller="SoloReservations" asp-action="Create"><button class="button">Plan Solo Reservation</button></a></a>
            </div>

            <div class="group">
                <h1 class="title">Plan with Team</h1>
                <img src="~/img/groups.png" />
                <a class="nav-link text-dark" asp-area="" asp-controller="GroupReservations" asp-action="Create"><button class="button">Plan Group Reservation</button></a>
            </div>
    </div>
</body>
</html>